@font-face
  font-family: 'AktivGrotesk'
  font-style: normal
  font-weight: 400
  src: url('./fonts/regular/AktivGrotesk-Regular.eot')
  src: url('./fonts/regular/AktivGrotesk-Regular.eot#iefix') format('embedded-opentype'), url('./fonts/regular/AktivGrotesk-Regular.woff2') format('woff2'), url('./fonts/regular/AktivGrotesk-Regular.woff') format('woff'), url('./fonts/regular/AktivGrotesk-Regular.ttf') format('truetype'),

@font-face
  font-family: 'AktivGrotesk'
  font-style: normal
  font-weight: 700
  src: url('./fonts/bold/AktivGrotesk-Bold.eot')
  src: url('./fonts/bold/AktivGrotesk-Bold.eot?#iefix') format('embedded-opentype'), url('./fonts/bold/AktivGrotesk-Bold.woff2') format('woff2'), url('./fonts/bold/AktivGrotesk-Bold.woff') format('woff'), url('./fonts/bold/AktivGrotesk-Bold.ttf') format('truetype'),

*
  box-sizing: border-box
  -webkit-font-smoothing: antialiased

body
  margin: 0
  font-family: 'AktivGrotesk', sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

button
  cursor: pointer
  &:disabled
    opacity: 0.7
    cursor: not-allowed

