name: CI
on: [push]

jobs:
  ci-all:
    name: Lint, build and test
    strategy:
      matrix:
        node-version: [12.x]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Build for production
        run: yarn build
      - name: Run linter
        run: yarn lint
      - name: Run tests
        run: yarn test
